<div x-data="{ modalOpen: false }" id="availability-modal" @modal-open.window="modalOpen=true" @modal-close.window="modalOpen=false" class="flex hidden overflow-hidden fixed inset-0 z-[999999] justify-center items-stretch h-full max-h-screen border bg-black/40">
    <div 
        x-show="modalOpen"
        x-transition:enter="transition ease-out duration-500"
        x-transition:enter-start="opacity-0 translate-y-full"
        x-transition:enter-end="opacity-100 translate-y-0"
        x-transition:leave="transition ease-out duration-500"
        x-transition:leave-start="opacity-100 translate-y-0"
        x-transition:leave-end="opacity-0 translate-y-full"
        class="overflow-hidden relative p-0 mx-auto w-full h-full bg-gradient-to-br from-[#7C444F] via-[#9F5255] to-[#E16A54]">
        <div class="absolute inset-0 w-full h-full flex items-center justify-center">
          <svg class="size-5 animate-spin text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle><path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path></svg>
        </div>
        <div class="relative p-0 w-full h-full rounded-lg md:rounded-xl lg:rounded-2xl">
            <div onclick="closeAvailabilityModal()" class="flex absolute left-0 top-1/2 z-50 justify-between items-center px-3 w-auto h-8 font-bold text-white bg-[#7C444F] rounded-full -rotate-90 -translate-x-6 -translate-y-1/2 cursor-pointer text-white md:top-0 md:-translate-x-1/2 md:translate-y-1 md:rotate-0 md:left-1/2">
                <span>Close</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 translate-x-1.5"><path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" /></svg>
            </div>
            <script type='text/javascript' charset='utf-8'>
                document.write(unescape("%3Cscript src='" + (('https:' == document.location.protocol) ? 'https:' : 'http:') + "//ejwilliams.appfolio.com/javascripts/listing.js' type='text/javascript'%3E%3C/script%3E"));
              </script>
              
              <script type='text/javascript' charset='utf-8'>
                Appfolio.Listing({
                  hostUrl: 'ejwilliams.appfolio.com', 
                  propertyGroup: 'Redwood Tree Apartments',
                  themeColor: '#676767',
                  height: '100%',
                  width: '100%',
                  defaultOrder: 'date_posted'
                });
              </script>
        </div>
    </div>
</div>