<!DOCTYPE html>
<html lang="en" x-cloak x-data :class="{ 'dark': $store.theme.isDark }">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{description}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.7/gsap.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Domine:wght@400..700&display=swap" rel="stylesheet">
<style>
    .crimson {
        font-family: "Crimson Text", serif;
      }
      html, body {
        scrollbar-gutter: stable;
      }

      html.menu-open {
        overflow-y: scroll;
      }
      
</style>

    <title>{title}</title>
    <style>[x-cloak]{ display:none; }</style>
    {tailwindcss}
</head>
<body x-data="{ open: false }" x-init="
$watch('open', function(value){
    if (value) {
        // if we open scroll to the top of the page
        //window.scrollTo(0, 0);
        document.body.classList.add('overflow-hidden');
        document.classList.add('menu-open');
    } else {
        document.body.classList.remove('overflow-hidden');
        document.classList.remove('menu-open');
    }
})
" class="overflow-x-hidden antialiased transition bg-primary-50 text-primary-950 dark:bg-primary-950 dark:text-primary-200">
<header x-data="{ mobileMenu: false }" x-init="$watch('mobileMenu', value => {
    if (value) {
        window.mobileMenuOpen = true;
    } else {
        window.mobileMenuOpen = false;
    }
})" class="w-full h-auto">

<include src="header.html"></include>
    <include src="menu.html"></include>
    {slot}
    <include src="partials/contact-modal.html"></include>
    <include src="partials/availability-modal.html"></include>
    <include src="footer.html"></include>
    <script src="/assets/js/main.js"></script>
    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="e1987434-0a9d-4f87-8b04-5add5a300995";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
</body>
</html>